out/
target/
.idea/

#TESTS
src/main/java/sample/controllers/Test.java
src/main/resources/fxml/test.fxml
src/main/resources/styles/test.css

#CODE SNIPPETS FOR SYNTAX HIGHLIGHT TESTS
snippets/

#BRANCHES STRUCTURES
README-BRANCHES.md

#TODOs
TODO.md

#PIDs
.attach_pid*
