/*
kyw:keywords
lit:literals
smc:semicolons
com:commas
str:strings
cmt:comments
*/

.kyw {
    -fx-fill: blue;
    -fx-font-weight: bold;
}

.lit{
    -fx-fill: purple;
    -fx-font-weight: bold;
}

.smc, .com {
    -fx-fill: #c27423;
}

.str {
    -fx-fill: green;
}

.cmt {
    -fx-fill: gray;
}
