#menuBar {
    -fx-background-color: #2b333b;
}

#menuBar .label {
    -fx-text-fill: #cdcdcd;
}

#menuBar .context-menu{
    -fx-background-color: #2b333b;
}

#bottomBar HBox {
    -fx-background-color: #6d7678;
}

#bottomBar HBox .label {
    -fx-text-fill: #2b333b;
}

#rowCounter .label {
    -fx-text-fill: white;
}
