#menuBar {
    -fx-background-color: #2b333b;
}

#menuBar .label {
    -fx-text-fill: #cdcdcd;
}

#menuBar .context-menu {
    -fx-background-color: #2b333b;
}

.split-pane > .split-pane-divider {
    -fx-background-color: #2b333b; /*transparent?*/
    -fx-padding: 0 1px 0 1px;
}

#bottomBar HBox {
    -fx-background-color: #6d7678;
}

#bottomBar HBox .label {
    -fx-text-fill: #2b333b;
}

#openFilesList .label {
    -fx-text-fill: #cdcdcd; /*#6D7678;*/
    -fx-cursor: hand;
    -fx-padding: 5 0 5 0;
}

#tabPane {
    -fx-background-color: #242C32;
}

#tabPane .tab {
    -fx-background-color: #2b333b;
}

#tabPane .tab .tab-label {
    -fx-text-fill: #cdcdcd;
}

#tabPane .tab-header-area .tab-header-background {
    -fx-background-color: #242C32;
}

.tab-pane {
    selected-tab-color: white ;
}
.tab:selected > .tab-container > .tab-close-button {
    -fx-background-color: selected-tab-color ;
}