.menu {
    -fx-padding: 1 5 1 5;
}

.menu-item {
    -fx-padding: 1 5 1 5;
}

.menu .context-menu {
    -fx-padding: 1 1 1 1;
}

.menu-bar {
    -fx-padding: 0 1 0 1;
    -fx-spacing: 1;
}


#menuBar {
    -fx-background-color: #2b333b;
}

#menuBar .label {
    -fx-text-fill: #cdcdcd;
}

#menuBar .context-menu {
    -fx-background-color: #2b333b;
}

#prompt {
    -fx-background-color: #2b333b;
}

.split-pane > .split-pane-divider {
    -fx-background-color: #2b333b; /*transparent?*/
    -fx-padding: 0 1px 0 1px;
}

#bottomBar HBox {
    -fx-background-color: #6d7678;
}

#bottomBar HBox .label {
    -fx-text-fill: #2b333b;
}

#openFilesPane, #openFilesPane .viewport {
    -fx-background-color: #242C32;
}

#openFilesList{
    -fx-background-color: transparent;
}
#openFilesList .label {
    -fx-text-fill: #cdcdcd; /*#6D7678;*/
    -fx-cursor: hand;
    -fx-padding: 5 0 5 0;
}

#tabPane {
    -fx-background-color: #242C32;
}

#tabPane .tab {
    -fx-background-color: #2b333b;
}

#tabPane .tab .tab-label {
    -fx-text-fill: #cdcdcd;
}

#tabPane .tab-header-area .tab-header-background {
    -fx-background-color: #242C32;
}

.tab-pane {
    shape: "M 0,0 H1 L 4,3 7,0 H8 V1 L 5,4 8,7 V8 H7 L 4,5 1,8 H0 V7 L 3,4 0,1 Z";
    /*shape: "M 500 300 A 50 50 0 1 1 700 300 A 50 50 0 1 1 500 300 Z";*/ /*circle*/

}

.tab > .tab-container > .tab-close-button {
    -fx-background-color: white;

}

.tab:selected > .tab-container > .tab-close-button {
    -fx-shape: shape;
    -fx-scale-shape: true;
    -fx-scale-x: 50%;
    -fx-scale-y: 50%;
    -fx-background-color: white;
}