.root {
    _GREEN : #2A363B;
    _BLUE : #242C32;
    _WHITE : #CDCDCD;
    _GRAY : #878787;
}

#menuBarDivider {
    -fx-background-color: _BLUE;
}

.menu {
    -fx-padding: 1 5 1 5;
}

.menu-item {
    -fx-padding: 1 5 1 5;
}

.menu .context-menu {
    -fx-padding: 1 1 1 1;
}

.menu-bar {
    -fx-padding: 0 1 0 1;
    -fx-spacing: 1;
}

#menuBarContainer{
    -fx-background-color: _BLUE;
}

.menu-bar {
    -fx-background-color: _GREEN;
    -fx-background-radius: 0 0 0 10;
}

.menu-bar .label {
    -fx-text-fill: _WHITE;
}

.menu-bar .context-menu {
    -fx-background-color: _GREEN;
}

#themeMenuBar
{
    -fx-background-radius: 0 0 15 0;
}

#themeMenuBar .container {
    -fx-alignment: center;
}

#themeSwitcher{
    -fx-padding: 0;
    -fx-border-radius: 0;
    -fx-background-color: _GREEN;
    -fx-background-radius: 0 0 15 0;
    -fx-text-fill: _WHITE;
}

#prompt {
    -fx-background-color: _GREEN;
}

.split-pane {
    -fx-background-color: _BLUE;
}

.split-pane AnchorPane {
    -fx-background-color: _GREEN;
    -fx-background-radius: 0 20 0 0;
}

.split-pane > .split-pane-divider {
    -fx-background-color: _BLUE; /*transparent?*/
    -fx-padding: 0 0 0 6px;
}

#bottomBar HBox {
    -fx-background-color: _GRAY;
}

#bottomBar HBox .label {
    -fx-text-fill: _GREEN;
}

#openFilesPane, #openFilesPane .viewport {
    -fx-background-color: transparent;
}


#openFilesPane > .scroll-bar {
    -fx-background-color: transparent;
    -fx-opacity: 30%;
}

#openFilesPane > .corner {
    -fx-opacity: 0;
}

#openFilesPane > .scroll-bar > .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

#openFilesPane > .scroll-bar > .thumb {
    -fx-background-color: _GRAY;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

#openFilesPane > .scroll-bar > .increment-button,
#openFilesPane > .scroll-bar > .decrement-button {

    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 10 0;
}

#openFilesPane > .scroll-bar > .increment-button > .increment-arrow,
#openFilesPane > .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}


#openFilesList {
    -fx-background-color: transparent;
}

#openFilesList .label {
    -fx-text-fill: _WHITE;
    -fx-cursor: hand;
    -fx-padding: 5 0 5 0;
}

#tabPane .tab {
    -fx-background-color: _GREEN;
}

#tabPane .tab .tab-label {
    -fx-text-fill: _WHITE;
}

#tabPane .tab-header-area {
    -fx-padding: 0;
}

#tabPane .tab-header-area .tab-header-background {
    -fx-background-color: _BLUE;
}

.tab-pane {
    shape: "M 0,0 H1 L 4,3 7,0 H8 V1 L 5,4 8,7 V8 H7 L 4,5 1,8 H0 V7 L 3,4 0,1 Z";
    /*shape: "M 500 300 A 50 50 0 1 1 700 300 A 50 50 0 1 1 500 300 Z";*/ /*circle*/
}



.tab > .tab-container > .tab-close-button {
    -fx-background-color: _WHITE;

}

.tab:selected > .tab-container > .tab-close-button {
    -fx-shape: shape;
    -fx-scale-shape: true;
    -fx-scale-x: 50%;
    -fx-scale-y: 50%;
    -fx-background-color: white;
}