.root {
    _GREEN : #2A363B;
    _BLUE : #242C32;
    _WHITE : #CDCDCD;
    _GRAY : #878787;
}

AnchorPane VBox .label {
    -fx-text-fill: _GRAY;
}

AnchorPane .text-area {
    -fx-control-inner-background: _GREEN;
    -fx-highlight-fill: #214283;
    -fx-highlight-text-fill: #FFFFFF;
    -fx-text-fill: _WHITE;
    -fx-faint-focus-color: transparent;
    -fx-background-color: _GREEN;
    -fx-background-radius: 0;
}

.text-area .viewport {
    -fx-background-color: _GREEN;
}
.text-area .viewport .content{
    -fx-background-radius: 0;
}

AnchorPane .text-area > .scroll-pane{
    -fx-vbar-policy: always;
}

AnchorPane .text-area > .scroll-pane {
    -fx-vbar-policy: always;
}

AnchorPane .text-area > .scroll-pane > .scroll-bar {
    -fx-background-color: transparent;
    -fx-opacity: 30%;
}

AnchorPane .text-area > .scroll-pane > .scroll-bar > .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

AnchorPane .text-area > .scroll-pane > .scroll-bar > .thumb {
    -fx-background-color: _GRAY;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

AnchorPane .text-area > .scroll-pane > .scroll-bar > .increment-button,
AnchorPane .text-area > .scroll-pane > .scroll-bar > .decrement-button {

    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}


AnchorPane .text-area > .scroll-pane > .scroll-bar > .increment-button > .increment-arrow,
AnchorPane .text-area > .scroll-pane > .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}



#lines > .scroll-pane > .scroll-bar {
    -fx-opacity: 0;
}
