/*INHERITED FROM style.css*/

.root {
    _PRIMARY : #2A363B;
    _SECONDARY : #242C32;
    _TEXT : #CDCDCD;
    _DETAILS : #878787;
}

AnchorPane{
    -fx-background-radius: 0 0 0 20;
    -fx-background-color: rgba(255, 0, 0, 0.17);
}

AnchorPane .text-area {
    -fx-control-inner-background: _PRIMARY;
    -fx-highlight-fill: #214283;
    -fx-highlight-text-fill: #FFFFFF;
    -fx-text-fill: _TEXT;
    -fx-faint-focus-color: transparent;
    -fx-background-color: _PRIMARY;
    /*-fx-background-radius: 0 0 0 20;*/
    -fx-font-family: "DejaVu Sans Mono";


}


AnchorPane .text-area .scroll-pane {
    -fx-background-color: transparent;
    -fx-background-radius: 20;
}

AnchorPane .text-area > .scroll-pane {
    -fx-vbar-policy: always;
}

AnchorPane .text-area > .scroll-pane {
    -fx-vbar-policy: always;
}

AnchorPane .text-area > .scroll-pane > .scroll-bar {
    -fx-background-color: transparent;
    -fx-opacity: 50%;
}

AnchorPane .text-area > .scroll-pane > .scroll-bar > .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

AnchorPane .text-area > .scroll-pane > .scroll-bar > .thumb {
    -fx-background-color: _DETAILS;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

AnchorPane .text-area > .scroll-pane > .scroll-bar > .increment-button,
AnchorPane .text-area > .scroll-pane > .scroll-bar > .decrement-button {

    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}


AnchorPane .text-area > .scroll-pane > .scroll-bar > .increment-button > .increment-arrow,
AnchorPane .text-area > .scroll-pane > .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.text-area .viewport, .text-area .viewport .content{
    -fx-border-color: transparent;
    -fx-background-color: _PRIMARY;

}

#lines, #lines .viewport, #lines .viewport .content{
    -fx-background-radius: 0 0 0 20;
}

#lines > .scroll-pane > .scroll-bar {
    -fx-opacity: 0;
}
